@use "../../variables" as var;

.button-container {
  min-width: 170px;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 16px;
  background-color: var.$base-color;
  color: white;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: bolder;
  border: 1px solid var.$base-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease all;

  &:hover {
    background-color: white;
    color: var.$base-color;
  }

  &.google {
    min-width: 230px;
    background-color: #4285f4;
    color: white;
    justify-content: space-around;
    align-items: center;

    &:hover {
      background-color: #155dd1;
      border: 1px solid #4285f4;
    }
  }

  &.inverted {
    background-color: white;
    color: var.$base-color;

    &:hover {
      background-color: var.$base-color;
      color: white;
      border: none;
    }
  }

  &.payment {
    background-color: black;
    color: white;
    border: 1px solid black;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
