@use "../../variables" as var;

.category-container {
  min-width: 30%;
  height: 250px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 2px solid var.$color-black;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .category-body-container {
      opacity: 1;
      transform: scale(1.1);
      transition: 0.5s ease-in;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .category-body-container {
    height: 100px;
    width: 230px;
    border: 2px solid var.$color-black;
    background-color: white;
    opacity: 0.85;
    position: absolute;
    text-align: center;
    margin: auto;

    h2 {
      font-weight: bold;
      font-size: 26px;
      color: var.$color-black;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    p {
      font-weight: lighter;
      font-size: 16px;
      margin-top: 0px;
      text-transform: capitalize;
    }
  }
}
