@use "../../variables" as var;

.cart-dropdown-container {
  position: absolute;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var.$base-color;
  background-color: white;
  top: 105px;
  right: 128px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
    height: 45px;
    line-height: 45px;
  }
}
