@use "../../variables" as var;

.categories-container {
  width: 100%;
  padding: 2rem 0 5rem;
  background-color: var.$color-purple;

  .section-header {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .categories-section-title {
    margin: 0;
    padding: 20px;
    display: inline;
    color: var.$color-black;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 15px;
    border: 8px solid var.$color-black;
  }
}

.two-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
}

.three-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 35px 0;
}
