.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  .title {
    font-size: 30px;
    margin: 0 0 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #4dba3c;
    letter-spacing: -1px;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  .link {
    margin-top: 30px;
    text-align: end;
    a {
      color: #4dba3c;
      text-decoration: underline;
      font-size: 20px;
      letter-spacing: 1px;
      word-spacing: 5px;
    }
  }
}
