@use "../../variables" as var;

.checkout-container {
  margin: 0;
  padding: 5rem;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var.$color-red;
  border-top: 3px solid var.$color-black;
  border-bottom: 3px solid var.$color-black;

  .order-summary-text {
    color: var.$color-black;
    text-align: center;
    border-bottom: 3px solid var.$color-black;
    width: 50%;

    h2 {
      font-size: 2rem;
      margin: 0;
      letter-spacing: 2px;
      word-spacing: 10px;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
      line-height: 2.25rem;
      font-weight: normal;
      font-size: 1.2rem;
    }

    span {
      padding: 0 0.25rem;
      font-weight: 700;
      color: var.$color-black;
    }

    .separator {
      margin: 0.75rem auto;
    }
  }

  .order-container {
    margin: 2rem 0;
    padding: 2.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .checkout-header {
      width: 100%;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fff;

      .header-block {
        text-transform: capitalize;
        width: 23%;

        &:last-child {
          width: 8%;
        }
      }
    }

    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
      color: var.$color-black;
    }
  }
}
