@use "./variables" as var;

body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.side-padding {
  padding-left: 7rem;
  padding-right: 7rem;
}

.box-shadow {
  box-shadow: 3px 4px 3px 6px var.$color-black;
}

.glass-morph {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 2;
  backdrop-filter: blur(2rem);
}
